
# Example configuration file,
# use it as a source of inspiration
# by moving and modifying its content
# to the `.env` location.

# IP or domain of the MariaDB server
# MUST BE REPLACED by the MariaDB container IP
# for example `docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' ping-mariadb`
MYSQL_HOST=127.0.0.1

# Password of the MariaDB user
MYSQL_PASSWORD=my-secret-pw

# Password of the root MariaDB user
MYSQL_ROOT_PASSWORD=my-secret-pw
